.custom-form {
  top: 457px;       /* distancia do topo */
  left: 387px;      /* distancia da esquerda */
  width: 467px;
  height: 700px;
  border-radius: 30px;
  padding: 20px;
  opacity: 1;
  transform: rotate(0deg);
  z-index: 5;
  left: 187px !important;
}
.custom-form form {
  height: 100%;
}